.editPanel{
    display: flex;
    height: 557px;
}
.editPanel .codeEditor{
    font-size: 15px;
    color: #ffffff;
    background: #272822;   
    flex: 1;
}
.editPanel .panel-info{
    display: flex;
    width: 400px;
    /* background: #2d8cf0; */
    padding: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px #000;
}
.editPanel .panel-info .editBtn{
    width: 160px;
    height: 50px;
    background: #F3F3F3;
}